<div class="flex items-center gap-3 w-full min-w-0">
  <button (click)="volumeService.toggleMute()" class="text-[#FFE6DB]">
    @if (!volumeService.muted()) {
      <lucide-icon [img]="volume2" class="w-[1rem] h-[1rem]"></lucide-icon>
    } @else {
      <lucide-icon [img]="volumeX" class="w-[1rem] h-[1rem]"></lucide-icon>
    }
  </button>
  <div class="relative flex items-center w-full min-w-0 h-6 group">
    <div class="absolute left-0 top-1/2 w-full -translate-y-1/2 h-[3px] rounded-full bg-[#FFE6DB]"></div>
    <div class="absolute left-0 top-1/2 -translate-y-1/2 h-1 rounded-full bg-[#FF5500] pointer-events-none" [style.width.%]="volumeService.muted() ? 0 : volumeService.volume()">
    </div>
    <input
      type="range"
      min="0" max="100" step="1"
      [value]="volumeService.volume()"
      (input)="onInput($event)"
      aria-label="Volume"
      class="absolute w-full opacity-0 cursor-pointer h-4"
    />
  </div>
</div>