<div class="min-w-0 flex-none w-32">
    <div class="w-full h-[4rem] rounded-full border border-[#FFE6DB]/15 bg-[#FFE6DB]/10 px-4 py-2 backdrop-blur-sm glass-card">
        <div class="flex items-center justify-center gap-4 h-full">
            <button type="button" aria-label="Like" class="text-[#FFE6DB] cursor-pointer">
                <lucide-icon [img]="heart" class="w-[1.25rem] h-[1.25rem]"></lucide-icon>
            </button>
            <button type="button" aria-label="Repeat" class="text-[#FFE6DB] cursor-pointer">
                <lucide-icon [img]="repeat" class="w-[1.25rem] h-[1.25rem]"></lucide-icon>
            </button>
            <button type="button" aria-label="Shuffle" class="text-[#FFE6DB] cursor-pointer">
                <lucide-icon [img]="shuffle" class="w-[1.25rem] h-[1.25rem]"></lucide-icon>
            </button>
        </div>
    </div>
</div>