<div class="bg-[#1F0E1C] rounded-[1.5rem] p-[2em] flex flex-col h-full w-full min-w-0">
  <div class="grid grid-cols-2 grid-rows-2 gap-[2rem] flex-1 min-h-0 place-items-center">
    <app-recent-play-card cover="assets/cover1.png" alt="recent"></app-recent-play-card>
    <app-recent-play-card cover="assets/cover2.png" alt="recent"></app-recent-play-card>
    <app-recent-play-card cover="assets/cover3.png" alt="recent"></app-recent-play-card>
    <app-recent-play-card cover="assets/cover4.png" alt="recent"></app-recent-play-card>
  </div>
</div>