<div class="relative flex flex-col items-center group">
  <div class="z-10 w-[24rem] h-[24rem] rounded-[3rem] overflow-hidden transition-transform duration-300 group-hover:scale-110">
    <img [src]="cover()" alt="Album cover" class="w-full h-full object-cover">
  </div>
  <img src="/assets/vinyl.png" alt="Vinyl" class="z-[-1] absolute top-full left-1/2 -translate-x-1/2 w-full h-full transition-all duration-300 -translate-y-1/2 opacity-0 group-hover:-translate-y-[25%] group-hover:opacity-100">
</div>